@font-face {
    font-family: Raphtalia;
    src: url(../fonts/Raphtalia\ DEMO.otf)
}

@font-face {
    font-family: 'Quicksand Oblique';
    src: url(../fonts/Quicksand_Book_Oblique.otf)
}

.imgloginarea {
    max-width: 30vw;
    border-radius: 50%;
}

.texto1 {
    padding-top: 5vh;
    line-height: 5vh;
    font-weight: 400;
}

.textopreto {
    color:black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexItem {
    flex: 1;

}


/* Seção Benefícios */


/* Seção Como Funciona */

.img3 {
    max-height: 30vh;
    margin-top: 10vh;
}

.txt3 {
    text-align: justify;
}

.tit3 {
    text-align: center;
    padding-top: 5vh;
}


/* Formulário */

.form-text1 {
    text-align: left;
    padding-bottom: 0;
}

.branco {
    color: white;
}

.branco:hover {
    color: black;
}


.lgv {
    color: white;
}


/* Seção Cadastro */

body {
    font-family: "Quicksand Oblique";
}

.formulario {
    max-width: 40vw;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

.formulario h2 {
    font: 22px "Quicksand Oblique";
    color: black;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 4%;
}

.formulario fieldset {
    background: white;
    border: 0 none;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

.formulario fieldset:not(:first-of-type) {
    display: none;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 1px solid #b41111;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font: 14px "Quicksand Oblique";
    margin-bottom: 10px;
}

.formulario .acao {
    width: 100px;
    background: #b41111;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
    float: left;
    margin-right: 5%;
}

.formulario .bt_css {
    width: 100px;
    background: #b41111;
    font-size: 13px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    float: left;
    margin-right: 5%;
    border-radius: 8px;
}
.formulario .bt_css:hover {
    background: #ee2f2f;
    border: 1px solid #ee2f2f;
    cursor: pointer;
}

.formulario .acao:hover {
    background: #ee2f2f;
    border: 1px solid #ee2f2f;
    cursor: pointer;
}

.formulario #progress {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

.formulario #progress li {
    list-style-type: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    float: left;
    width: 33.33%;
    position: relative;
}

.formulario #progress li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    display: block;
    line-height: 20px;
    background: white;
    color: #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto 10px auto;
}

.formulario #progress li:after {
    content: '';
    width: 100%;
    background: white;
    height: 2px;
    position: absolute;
    top: 9px;
    left: -50%;
    z-index: 1;
}

.formulario #progress li:first-child:after {
    content: none;
}

.formulario #progress li.active:before,
.formulario #progress li.active:after {
    background: #b41111;
    color: white;
    text-shadow: 0 1px 0;
}

.formulario .formRadio {
    padding: 0;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font: 14px "Quicksand Oblique";
    margin: 0;
}

.imglogo{
    max-height: 5vh;
}

.formcontato ::placeholder {
    color: white;
}

.primeira-img{
    max-height: 50vh;
}

/* SOBRE NOS */

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
  }
  
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-image  {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color:#ee2f2f !important;
  }
  
  .timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline .timeline-heading h4.subheading {
    text-transform: none;
  }
  
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }

  .contato {
      max-height: 100vh;
  }
  